@import url('https://snowstorm.conteir.no/styles/style.css');

.jumbotron {
  padding: 5px 10px;
  margin-bottom: 2rem;
  background-color: rgb(47, 71, 70);
  border-radius: 0;
}

.fill-width {width: 100%;}

/* style.css override!!! */
div {margin: 0px;}

input, select, textarea {width: 100%;}